<template>
    <div id="app">
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md">
						<AppItemList header="Prefixos" v-bind:items="prefixes" v-on:addItem="addPrefix" v-on:deleteItem="deletePrefix"></AppItemList>
                    </div>
                    <div class="col-md">
                        <AppItemList header="Sufixos" v-bind:items="suffixes" v-on:addItem="addSuffix" v-on:deleteItem="deleteSuffix"></AppItemList>
                    </div>
                </div>
                <br>
                <h5>Domínios <span class="badge badge-info"> {{domains.length}} </span></h5>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="domain of domains" v-bind:key="domain.name">
								<div class="row">
                                    <div class="col-md">
                                        {{domain.name}}
                                    </div>
									<div class="col-md text-right">
										<a class="btn btn-info" v-bind:href="domain.urlCheckout" target="_blank"><span class="fa fa-shopping-cart"></span></a>
									</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios/dist/axios"
import AppItemList from "./AppItemList"

export default {
	name: "DomainList",
	data() {
		return {
			prefixes: [],
			suffixes: [],
		}
	},
	methods: {
		addPrefix(prefix) {
			this.prefixes.push(prefix)
		},
		addSuffix(suffix) {
			this.suffixes.push(suffix)
		},
		deletePrefix(prefix){
			const indexPrefix = this.prefixes.indexOf(prefix)
			this.prefixes.splice(indexPrefix, 1)
		},
		deleteSuffix(suffix){
			const indexSuffix = this.suffixes.indexOf(suffix)
			this.suffixes.splice(indexSuffix, 1)
		}
	},
	computed: {
		domains(){
			const domains = []

			for (const prefix of this.prefixes)
				for (const suffix of this.suffixes) {
					const name = prefix+suffix
					const urlName = name.toLowerCase()
					const urlCheckout = "https://registro.br/busca-dominio/?fqdn="+urlName
					domains.push({name, urlCheckout})
				}

			return domains
		},
	},
	components: {
		AppItemList
	},
	created() {
		axios({
			url: "http://localhost:4000",
			method: "post",
			data: {
				query: `
				{
					prefixes: items (type: "prefix") {
						id
						type
						description
					}
					suffixes: items (type: "suffix") {
						description
					}
				}
			`
			}
		}).then(resp => {
			const query = resp.data
			console.log(query.data)
			this.prefixes = query.data.prefixes.map(prefix => prefix.description)
			this.suffixes = query.data.suffixes.map(suffix => suffix.description)
		})
	}
}
</script>

<style></style>