<template>
    <div id="app">
        <div id="slogan" class="text-center">
            <h1>NameGator</h1>
            <br />
            <h6 class="text-secondary">
                Gerador de nomes que utiliza Vue.js, GraphQL e Node.JS
            </h6>
        </div>
		<DomainList></DomainList>
    </div>
</template>

<script>
import DomainList from "./components/DomainList"
import "bootstrap/dist/css/bootstrap.min.css"
import "font-awesome/css/font-awesome.css"

export default {
	name: "App",
	components: {
		DomainList
	}
}
</script>

<style>
#slogan {
    margin-top: 30px;
    margin-bottom: 30px;
}

#main {
    background-color: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 30px;
}
</style>
